Source: wivrn
Section: games
Priority: optional
Maintainer: Mats Huesmann (Mr-Zero88) <huesmann.mats@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 ninja-build,
 g++-multilib,
 pkg-config,
 libvulkan-dev,
 libvulkan-dev:i386,
 libssl-dev,
 glslang-tools,
 spirv-tools,
 libwayland-dev,
 libxrandr-dev,
 libx264-dev,
 libavcodec-dev,
 libavutil-dev,
 libbsd-dev,
 libavahi-client-dev,
 libavahi-glib-dev,
 libeigen3-dev,
 nlohmann-json3-dev,
 librsvg2-dev,
 libdrm-dev,
 libglib2.0-dev-bin,
 libpipewire-0.3-dev,
 libcli11-dev,
 libnotify-dev,
 libarchive-dev,
 libudev-dev,
 libboost-all-dev,
 libsystemd-dev,
 extra-cmake-modules,
 libarchive-dev,
 libboost-all-dev,
 libkf6coreaddons-dev,
 libkf6qqc2desktopstyle-dev,
 libkf6iconthemes-dev,
 libkirigami-dev,
 librsvg2-dev,
 nlohmann-json3-dev,
 qcoro-qt6-dev,
 qml6-module-org-kde-kirigamiaddons-formcard
Standards-Version: 4.7.2
Homepage: https://github.com/WiVRn/WiVRn
#Vcs-Browser: https://salsa.debian.org/debian/wivrn
#Vcs-Git: https://salsa.debian.org/debian/wivrn.git

Package: wivrn-server
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Recommends:
 wivrn-server-i386 (= ${binary:Version})
Description: A wireless Monado-based OpenXR runtime for standalone headsets. (server)
 WiVRn is an application that wirelessly streams a virtual reality game to a standalone VR headset from a Linux computer.
 This package contains the main WiVRn server and the wivrnctl tool.

Package: wivrn-dashboard
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 wivrn-server (= ${binary:Version})
Description: A wireless Monado-based OpenXR runtime for standalone headsets. (dashboard)
 WiVRn is an application that wirelessly streams a virtual reality game to a standalone VR headset from a Linux computer.
 This package contains the graphical user interface dashboard for WiVRn.

Package: wivrn-server-i386
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: A wireless Monado-based OpenXR runtime for standalone headsets. (32bit)
 WiVRn is an application that wirelessly streams a virtual reality game to a standalone VR headset from a Linux computer.
 This package contains the 32-bit server library components for SteamVR/OpenXR integration.