#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_auto_configure:
	# 1. Server Build
	cmake -B build-server . \
		-G Ninja \
		-DGIT_DESC=v$(DEB_VERSION_UPSTREAM) \
		-DGIT_COMMIT=v$(DEB_VERSION_UPSTREAM) \
		-DWIVRN_BUILD_SERVER=ON \
		-DWIVRN_BUILD_WIVRNCTL=ON \
		-DWIVRN_BUILD_CLIENT=OFF \
		-DWIVRN_BUILD_DASHBOARD=OFF \
		-DWIVRN_OPENXR_MANIFEST_TYPE=relative \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX="/usr" \
		-DWIVRN_USE_VAAPI=ON \
		-DWIVRN_USE_X264=ON \
		-DWIVRN_USE_NVENC=ON \
		-DWIVRN_USE_VULKAN_ENCODE=ON \
		-DOVR_COMPAT_SEARCH_PATH=/opt/xrizer:/opt/opencomposite:/opt/VapoR \
		-DWIVRN_FEATURE_STEAMVR_LIGHTHOUSE=ON \
		-Wno-dev

	# 2. 32-bit Server Library Build
	PKG_CONFIG_PATH="/usr/lib32/pkgconfig" cmake -B build-server-32 -S . \
		-G Ninja \
		-DGIT_DESC=v$(DEB_VERSION_UPSTREAM) \
		-DGIT_COMMIT=v$(DEB_VERSION_UPSTREAM) \
		-DCMAKE_C_FLAGS="-m32" \
		-DCMAKE_CXX_FLAGS="-m32" \
		-DWIVRN_BUILD_CLIENT=OFF \
		-DWIVRN_BUILD_SERVER=OFF \
		-DWIVRN_BUILD_WIVRNCTL=OFF \
		-DWIVRN_BUILD_SERVER_LIBRARY=ON \
		-DWIVRN_OPENXR_MANIFEST_TYPE=relative \
		-DWIVRN_OPENXR_MANIFEST_ABI=ON \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX="/usr" \
		-DCMAKE_INSTALL_LIBDIR="lib32" \
		-DVulkan_LIBRARY=/usr/lib/i386-linux-gnu/libvulkan.so \
		-DVulkan_INCLUDE_DIR=/usr/include \
		-Wno-dev

	# 3. Dashboard Build
	cmake -B build-dashboard . \
		-G Ninja \
		-DGIT_DESC=v$(DEB_VERSION_UPSTREAM) \
		-DGIT_COMMIT=v$(DEB_VERSION_UPSTREAM) \
		-DWIVRN_BUILD_CLIENT=OFF \
		-DWIVRN_BUILD_SERVER=OFF \
		-DWIVRN_BUILD_WIVRNCTL=OFF \
		-DWIVRN_BUILD_DASHBOARD=ON \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX="/usr" \
		-DOVR_COMPAT_SEARCH_PATH=/opt/xrizer:/opt/opencomposite:/opt/VapoR \
		-DWIVRN_FEATURE_STEAMVR_LIGHTHOUSE=ON \
		-Wno-dev

# Schritt 2: Kompilieren (override_dh_auto_build)
override_dh_auto_build:
	cmake --build build-server
	cmake --build build-server-32
	cmake --build build-dashboard

# Schritt 3: Installation im Paket-Dateisystem (override_dh_auto_install)
override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp cmake --install build-server
	DESTDIR=$(CURDIR)/debian/tmp cmake --install build-server-32
	DESTDIR=$(CURDIR)/debian/tmp cmake --install build-dashboard